.v[data-class=v] .vinput,
.v[data-class=v] .veditor,
.v[data-class=v] p,
.v[data-class=v] pre code,
.v[data-class=v] .status-bar {
    color: #000000 !important;
}

.v[data-class=v] .vwrap {
    border-color: #6c8088 !important;
}

.v[data-class=v] .vtime,
.v[data-class=v] .vsys {
    color: #ffffff !important;
}

#post .tag_share .post-meta__tags {
    border: 1px solid #000000;
    border-radius: 12px;
    color: #de3a3a;
}

#aside-content #card-toc .toc-content .toc-link {
    color: #000000;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #e90f92;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #e90f92, 0 0 5px #e90f92;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #e90f92;
    border-left-color: #e90f92;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes pace-spinner {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes pace-spinner {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes pace-spinner {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes pace-spinner {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* 在下面修改进度条外观 */
.pace .pace-progress {
    background: #1ef4fbec;
    /*进度条颜色*/
    height: 3px;
    /* 进度条厚度 */
}

.pace .pace-progress-inner {
    box-shadow: 0 0 10px #1ef4fbce, 0 0 5px #1ecffbd0;
    /*阴影颜色*/
}

.pace .pace-activity {
    border-top-color: #1edafbe5;
    /*上边框颜色*/
    border-left-color: #1ef4fbec;
    /*左边框颜色*/
}

#article-container pre,
#article-container figure.highlight {
    background: #000000;
}

/* 字体 */
@font-face {
    font-family: 'STXINGKA';
    font-display: swap;
    src: url('/fonts/STFANGSO.TTF') format("truetype");
}

/* Aplayer日间模式调整 */
/* 背景色 */
.aplayer {
    background: rgba(255, 255, 255, 0.6) !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}

.aplayer.aplayer-fixed .aplayer-lrc:after,
.aplayer.aplayer-fixed .aplayer-lrc:before {
    display: none;
}

.aplayer.aplayer.aplayer-fixed .aplayer-body {
    background: rgba(255, 255, 255, 0.6) !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
}

/* 滚动条 */
.aplayer .aplayer-list ol::-webkit-scrollbar {
    width: 5px;
}

.aplayer .aplayer-list ol::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: var(--theme-color) !important;
}

.aplayer .aplayer-list ol::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-color) !important;
}

/* 圆角 */
.aplayer.aplayer-fixed .aplayer-list {
    border-radius: 6px 6px 0 0 !important;
}

.aplayer.aplayer-fixed .aplayer-miniswitcher {
    border-radius: 0 6px 6px 0 !important;
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    transition: 0.28s !important;
    border-radius: 6px !important;
}

/* 选中与播放中歌曲激活颜色 */
.aplayer .aplayer-list ol li:hover {
    background: var(--theme-color) !important;
}

.aplayer .aplayer-list ol li.aplayer-list-light {
    background: var(--theme-color) !important;
}

/* 歌词 */
.aplayer-lrc p {
    color: #ffffff !important;
    text-shadow: none;
}

.aplayer.aplayer-fixed .aplayer-lrc {
    min-height: 50px;
    /* 调整为你需要的高度 */
    overflow-y: auto;
    /* 允许垂直滚动 */
    font-family: 'STXINGKA';
}

.aplayer .aplayer-lrc p.aplayer-lrc-current {
    font-size: 150%;
    /* 修改这一行 */
    transform: translateY(50%);
    /* 添加这一行 */
}

.aplayer .aplayer-lrc p.aplayer-lrc-current .aplayer-lrc-hide {
    font-size: 150%;
    /* 调整为你需要的大小 */
}

/* 一级菜单居中 */
#nav .menus_items {
    /* display: inline; 这个带不带都可以，本来就是inline */
    position: absolute;
    width: -moz-fit-content;
    /* Fix for Firefox */
    width: fit-content;
    left: 50%;
    top: 50%;
    /* 添加这一行 */
    transform: translate(-50%, -50%);
    /* 修改这一行 */
}

/* 去除导航栏选项中底下的蓝条 */
#nav *::after {
    background-color: transparent !important;
}

/* 导航栏菜单鼠标移入字体放大 */
#nav #site-name:hover,
#nav .menus_item:hover,
#nav #search-button:hover {
    font-size: 28px;
}

/* 所有页面背景 */
#aside_content .card-widget,
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
    /* 以下代表透明度为0.5 */
    background: rgba(149, 210, 183, 0.85);
}

/* 主页所有文章页面背景 */
#aside_content .card-widget,
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
    /* 以下代表透明度为0.5 */
    background: rgba(149, 210, 183, 0.85);
}

/*侧边栏页面*/
#aside-content>.card-widget {
    background: rgba(149, 210, 183, 0.85);
}

#aside-content>.sticky_layout>.card-widget {
    background: rgba(149, 210, 183, 0.85);
}

/*文章页面*/
.layout>#post {
    background: rgba(149, 210, 183, 0.85);
}

/*分类页面*/
.layout>#page {
    background: rgba(149, 210, 183, 0.85);
}

/*时间轴页面*/
.layout>#archive {
    background: rgba(149, 210, 183, 0.85);
}

#post .post-copyright .post-copyright-meta {
    color: #000000;
    font-weight: bold;
}

#article-container figure.highlight {
    border-radius: 8px;
}

.post-copyright {
    border-radius: 8px;
}

#pagination.pagination-post {
    border-radius: 8px;
}

.relatedPosts>.relatedPosts-list>div {
    border-radius: 8px;
}

#aside-content .card-info #card-info-btn {
    border-radius: 8px;
}

:root {
    --global-font-size: 17px;
    --global-bg: #dedddd;
    --font-color: #232108;
    --hr-border: #ff7242;
    --hr-before-color: #ff7242;
    --search-bg: #f6f8fa;
    --search-input-color: #4c4948;
    --search-a-color: #4c4948;
    --preloader-bg: #37474f;
    --preloader-color: #fff;
    --tab-border-color: #f0f0f0;
    --tab-botton-bg: #f0f0f0;
    --tab-botton-color: #1f2d3d;
    --tab-button-hover-bg: #dcdcdc;
    --tab-button-active-bg: #fff;
    --card-bg: #fff;
    --sidebar-bg: #f6f8fa;
    --btn-hover-color: #ff7242;
    --btn-color: #fff;
    --btn-bg: #000000;
    --text-bg-hover: #ff7242;
    --light-grey: #eee;
    --dark-grey: #cacaca;
    --white: #fff;
    --text-highlight-color: #290101;
    --blockquote-color: #6a737d;
    --blockquote-bg: rgba(73, 177, 245, 0.1);
    --reward-pop: #f5f5f5;
    --toc-link-color: #666261;
    --card-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
    --card-hover-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.09);
    --pseudo-hover: #ff7242;
    --headline-presudo: #a0a0a0;
    --scrollbar-color: #000000;
    --default-bg-color: #65a86d;
    --zoom-bg: #fff;
    --mark-bg: rgba(0, 0, 0, 0.3);
}

.article-sort-item-time {
    color: #ab3b3b;
    font-size: 95%;
}

#aside-content .aside-list>.aside-list-item .content>.title,
#aside-content .aside-list>.aside-list-item .content>.comment {
    color: var(--font-color);
    font-size: 125%;
    line-height: 1.5;
    -webkit-line-clamp: 2;
}

#aside-content .card-tag-cloud a:hover,
.site-data>a:hover div {
    color: #ff7242 !important;
}

#aside-content #card-toc .toc-content .toc-link:hover {
    color: #c8f549;
}

#recent-posts>.recent-post-item>.recent-post-info>.article-title:hover {
    color: #ff7242;
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap {
    margin: 6px 0;
    color: #000000;
    font-size: 0.9em;
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap a {
    color: #000000;
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap a:hover,
#aside-content .aside-list>.aside-list-item .content>.title:hover,
#aside-content .aside-list>.aside-list-item .content>.comment:hover,
#page-header.nav-fixed #nav a:hover,
#page-header.nav-fixed #nav #toggle-menu:hover {
    color: #ff7242;
}

#content-inner.layout h1:hover,
#content-inner.layout h2:hover,
#content-inner.layout h3:hover,
#content-inner.layout h4:hover,
#content-inner.layout h5:hover,
#content-inner.layout h6:hover {
    color: #c8f549;
}

.tag-cloud-list a:hover {
    color: #c8f549 !important;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}